
main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #515052;
  --secondary: #333138;
  --tertiary: #FF312E;
  --light: #FFFFFA;
  --dark: #000103;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--secondary);
  color: var(--primary);
  font-family: 'Poiret One';

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

/* about me page */
h1 {
  font-size: 2.25rem;
}

/* nav bar */
h2 {
  font-size: 2rem;
}

/**do i need these?*/
h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}



p {
  font-size: 1.1rem;
  margin-top: 0;
}

/**/

/** Text Link Styles **/
a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/** Header Styles **/
header {
  background: var(--dark);
}

header a {
  color: var(--primary);
}

/** Size of imported images **/
img {
  max-width: 100%;
}


/** Contact Form **/

/* input form width (Contact page) */
form {
  width: 40%;
}

/* input styles (Contact page) */
input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--dark);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

/* message area (contact form) */
textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}


/** Nav Bar **/

.px-1 {  /*Header title and nav spacing **/
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

/* nav link styles */
li {
  list-style: none;
}


/**/

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}








